footer{
    
    position:   absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #EAEA12;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.562), 0 6px 20px 0 rgba(0, 0, 0, 0.772);
}
body{
    position: relative;
    border: #ea1212;
    min-height: 100vh;
    padding-bottom: 60px;
    overflow-y: scroll;
}
.card{
    background-color: #ebeb51;
}
.banner{
    background-image: url('./imagen/Emporda-Alamy.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 210vh;  /* Cambia esto al ancho que desees */
    height: 200px; /* Cambia esto a la altura que desees */

}
.naver{
    background-color: #EAEA12 ;
}
a{

    color:black !important;
    text-decoration: none;
}
a:hover{
    color:white !important;
}
.nav{
    display: flex !important;
    justify-content: space-between !important;
}
.items{
    display: flex;

}